.footer{
    background: #000;
    height: 200px;
    display: flex;
    padding-left: 10%;
    color: #fff;
    opacity: 1;
    justify-content: space-between;
}
.footer input{
    padding: 10px;
    background: lavender;
    border: 0px;
    outline: none;
}
.col-1{
    display: block;
    padding-top: 3%;
    
}
.col-1 a{
    text-decoration: none;
    color: blanchedalmond;

}
.col-3{
    margin-right: 3%;
    padding-top: 5%;

}
h5{
    font-weight: 900;
    font-size: large;
}