*{
    margin: 0;
    padding: 0;
}
.sidebar{
    position: fixed;
    width: 250px;
    height: 900vh;
    background:#2F4050;
    padding: 20px;
    padding-top: 30PX;

}
.sidebar h1{
    color: #fff;
    font-style: italic;
}
.routes-pages{
    display: block;
    width: 100%;
    height: auto;
}
.routes-pages{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    height: 100%;
    align-items: center;
}
.routes-pages a{
    list-style-type: none;
    color: aliceblue;
    text-decoration: none;
    margin: 20px;
    height: 30px;
    margin-top: 40px;
    width: 100%;
    padding: 10px;

}
.routes-pages .link a{
    height: 30px;
    
}
.links{
    padding: 10px;
}
.links:hover{
    background: rgb(1, 1, 8);
}
.routes-pages .links{
    margin-top: 40px;
}
